In [ ]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/ml 2/movie.csv')
df

      index  ...           director
0         0  ...      James Cameron
1         1  ...     Gore Verbinski
2         2  ...         Sam Mendes
3         3  ...  Christopher Nolan
4         4  ...     Andrew Stanton
...     ...  ...                ...
4798   4798  ...   Robert Rodriguez
4799   4799  ...       Edward Burns
4800   4800  ...        Scott Smith
4801   4801  ...        Daniel Hsia
4802   4802  ...   Brian Herzlinger

[4803 rows x 24 columns]

In [ ]:
df.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [ ]:
df.shape

(4803, 24)

In [ ]:
features = ['genres','keywords','original_language','title','cast','director']
for feature in features:
    df[feature] = df[feature].fillna('')

In [ ]:
def combined_features(row):
  return row['keywords']+" "+row['cast']+" "+row['genres']+" "+row['director']+" "+row['original_language']+" "+row['title']

df["combined_features"]=df.apply(combined_features,axis=1)
df["combined_features"]

0       culture clash future space war space colony so...
1       ocean drug abuse exotic island east india trad...
2       spy based on novel secret agent sequel mi6 Dan...
3       dc comics crime fighter terrorist secret ident...
4       based on novel mars medallion space travel pri...
                              ...
4798    united states\u2013mexico barrier legs arms pa...
4799     Edward Burns Kerry Bish\u00e9 Marsha Dietlein...
4800    date love at first sight narration investigati...
4801     Daniel Henney Eliza Coupe Bill Paxton Alan Ru...
4802    obsession camcorder crush dream girl Drew Barr...
Name: combined_features, Length: 4803, dtype: object

In [ ]:
tfid = TfidfVectorizer()
tfidv = tfid.fit_transform(df["combined_features"])
tfidv.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
tfidv.shape

(4803, 17503)

In [ ]:
cosine_sim = cosine_similarity(tfidv)
cosine_sim.shape

(4803, 4803)

In [ ]:
movie = (input("Enter movie name: "))

def get_index(mn):
  return df[df.title == mn]["index"].index[0]

mi = get_index(movie)
mi

Enter movie name: Avatar

np.int64(0)

In [ ]:
similarity_scores = list(enumerate(cosine_sim[mi]))
sorted_similar_movies = sorted(similarity_scores,key=lambda x:x[1],reverse=True)
i=0
print('Top 10 Recommended Movies are : \n')
for element in sorted_similar_movies:
    print(df[df.index == element[0]]['title'].values[0])
    i=i+1
    if i>10:
        break

Top 10 Recommended Movies are :

Avatar
Guardians of the Galaxy
Aliens
Alien
Galaxy Quest
Star Trek Into Darkness
Star Trek Beyond
Jason X
Space Dogs
Alien³
Gravity